/*Onbit Style CSS*/

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  letter-spacing: 0.166667px;
  line-height: 1.7em;
  background-image: url(img-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
a{
  text-decoration: none;
  color: black;
}

.container{
  padding: 10px;
}

/* Form */
.form{
  padding: 10px;
}

.form-control{
  width:95%;
  border:none;
  outline:none;
  border:1px solid #ccc;
  border-left: none;
  padding: 10px;
  font-size: 15px;
}

.form-control:focus{
  outline:none;
  border:1px solid #23bd85;
}

.form-container{
  padding: 10px;
}

.icon{
  position: absolute;
  margin-top: 0px;
  padding: 10.5px;
  border:1px solid #ccc;
}

.input-container{
  margin-left: 40px; 
}

.row {
  display: flex;
  margin-left: -30px;
}

.column {
  padding: 10%;
}

/* Style the tab */
.tab {
  border: 1px solid #ccc;
  background-color: white;
  width: 100%;
  height: 70px;
  border-radius: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.member {
    float: left;
    width: 25%;
    margin-bottom: 10px;
}

.tab .member:hover{
  color: #23bd85;
}

.tab .member p{
  font-size: 12px;
  margin-top: -10px;
}

.upper .member p{
  font-size: 15px;
}

.upper .member i{
  font-size: 1.5rem;
  padding: 10px;
  background: white;
  cursor: pointer;
  border: 1px solid #ccc;
  width: 40px;
  border-radius: 10px;
}

.upper .member i:hover{
  background: #23bd85;
  color: white;
}

.upper{
  font-size: 2rem;
  display: inline-block;
  width: 100%;
}

.tab i{
  font-size: 1.5rem;
  display: inline-block;
  margin-top: 15px;
}

.message-scrol{
  background: gray;
}

marquee{
  height: 100px;
  border-radius: 10px;
  border:1px solid #23bd85;
  padding: 10px;
  box-shadow: inset 0px 0px 5px gray;
  color: gray;
  background: white;
}

#slider {
  overflow: hidden;
  border-radius: 10px;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

@media only screen and (min-width: 1200px) {
  #slider{
    display: none;
  }
    
}

#slider figure img {
  float: left;
  width: 20%;
}


@keyframes slider {
  0% {
    left: 0;
  }
  5% {
    left: 0;
  }
  10% {
    left: -100%;
  }
  30% {
    left: -100%;
  }
  35% {
    left: -200%;
  }
  50% {
    left: -200%;
  }
}

.membership{
  padding-top: 1px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  box-shadow:0px 3px 10px gray;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.payment-method{
  background: white; 
  border:1px solid #23bd85; 
  border-radius: 50px; 
  padding: 10px;
}

.checker{
  float: right; 
  margin: -26px 4px;
  border-radius: 50px;
  background: #23bd85;
  padding: 5px;
  color: white;
}

.btn{
  border:none;
  outline: none;
  color: white;
  background: #23bd85;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

.btn:hover{
  background: #2a886a;
}

.btn-cancel{
  background: white;
  color: #23bd85;
  border:1px solid #23bd85;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  padding-right:40px;
  padding-left:40px;
  padding-top:11px;
  padding-bottom:11px; 
}

.btn-cancel:hover{
  color: red;
  border:1px solid red;
  cursor: pointer;
}

.btn-disabled{
  border:none;
  outline: none;
  color: white;
  background: #c1c1c1;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

.qty{
  background: transparent;
  outline: none;
  width: 50%;
  font-size: 20px; 
  border: none;
}

table, th, td{
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
 table{
  border-radius: 10px; 
}

.task{
  background: #f0f0f0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0.5px; 
  padding-top: 0.5px;
  border-radius: 10px;
  box-shadow:0px 3px 10px gray;
}

.btn-task{
	float: right; 
	margin: -60px 10px;
	border: none;
	background: #23bd85;
	padding: 10px;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	border-radius: 10px;

}

.comp-task{
	border:2px solid #23bd85;
	border-radius: 10px;
	padding-bottom: 60px;
	background: #23bd85;
}

.comp-task:hover{
	background: #108155;
	border:2px solid #108155;
	
}

.task-btn{
	position: absolute;
	margin: 185px -120px;
	border:none;
	outline: none;
	padding: 10px;
	color: white;
	background: transparent;
	font-size: 1.2rem;
	font-weight: bold;
	cursor: pointer;
}


.pad{
  width: 90%;
  background: white;
  border-radius: 50px;
  box-shadow: 0px 2px 5px gray;
  font-size: 1.1rem;
  padding: 5px;

}

.pad span{
  font-family: sans-serif;
  color: black;
}

.refer-container{
  background-image: url(refer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  border-radius: 10px;
  border:1px solid black;
  padding:10px;
}


.loadex {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadex > img {
    width: 40%;
}

.loadex.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/*Task On Off*/
.task-list{
 display: none;

}

.task-list-text{
}
